//base//
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--main-font);
    font-size: var(--s-regular);
}
a, button, input, textarea, select {
    all: unset;
}
html {
    scroll-behavior: smooth;
}

//variables// 
:root {

    //colors// 
    --bg-color: #BE0909;
    --bg-color-2: #FFB039;
    --input-hover-active-color: #bf3b3b;
    --white: #fff;
    --stroke-color: #9DBEBB;
    --btn-color: #468189;

    //font// 
    --main-font: 'Roboto', sans-serif;

    //font sizes// 
    --s-regular: 18px;

    //font weights// 
    --w-regular: 400;
    --w-bold: 700;

    //transition// 
    --transition-5s: all 0.5s linear;
    --transition-2s: all 0.2s linear;
}

body {
    background: linear-gradient(90deg, var(--bg-color) 0%, var(--bg-color) 65%, var(--bg-color-2) 65%, var(--bg-color-2) 100%);
}

//reusables// 
.input-basic-style {
    height: 34px;
    border-bottom: 1px solid var(--stroke-color);
    margin-bottom: 22px;
    &:hover {
        background-color: var(--input-hover-active-color);
        cursor: text;
    }
    &:focus {
        border: 1px solid var(--stroke-color);
        cursor: text;
    }
    &::placeholder {
        color: var(--white);
        text-transform: capitalize;
        line-height: 21px;
        letter-spacing: 0.3em;
        //check!! position left
    }
}
.form__label {
    color: var(--white);
    font-weight: var(--w-regular);
    line-height: 21px;
    letter-spacing: 0.1em;
    padding-bottom: 30px;
    text-transform: uppercase;
    width: 224px; 
    display: flex;
}

//FORM// 
.form {
    position: relative;
    left: 7vw;
    width: 84vw;
    height: 100vh;
    display: flex;
    padding: 24px 0;

//form container// 
    &__content {
        align-self: center;
        width: 43vw;
        padding-right: 24px;
        display: flex;
        flex-direction: column;
        }

//duck photo//
    &__img {
        height: 75vh;
        width: auto;
        align-self: flex-end;
    }

//inputs// 
    &__input-name {
        width: 100%;
    }
    &__input-email {
        width: 160px;
    }

//dropdown// 
    &__dropdown-container {
        position: relative;
        cursor: pointer; //overwrite reusables
    }
    &__dropdown {
        margin-bottom: 24px;
        width: 160px;
        height: 34px;
        border-bottom: 1px solid var(--stroke-color);
        &__icon {
            color: var(--white);
            position: absolute;
            left: 140px;
            top: 56px;
            z-index: 2;
        }
        &__option {
            color: var(--white);
        }
    }
    &__text-area {
        width: 100%;
    }

//checkbox//
    &__checkbox {
        cursor: pointer;
        display: flex;
        align-items: center;
        clear: both;
        &__title {
            color: var(--white);
            padding-left: 12px;
        }
    }

@supports(-webkit-appearance: none) or (-moz-appearance: none) {
    input[type='checkbox'] {
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 24px;
        width: 24px;
        outline: none;
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin: 0;
        cursor: pointer;
        border: 3px solid var(--stroke-color);
        border-radius: 4px;
        background-color: transparent;
        &:after {
            content: '';
            display: block;
            left: 0;
            top: 0;
            position: absolute;
            transition: var(--transition-2s);
        }
        &:checked {
            background-color: var(--btn-color);
            border: 3px solid var(--btn-color);
            transition: var(--transition-2s);
        }
        &:hover {
            &:not(:checked) {
                border: 3px solid var(--btn-color);
                background-color: var(--stroke-color);
                transition: var(--transition-2s);
            }
        }
        &:before {
            border: 1px solid var(--stroke-color);
            transition: var(--transition-5s);
        }
    }
}

//button//
    &__btn {
        display: block;
        margin: 56px auto 0 auto;
        width: 202px;
        height: 48px;
        background-color: var(--btn-color);
        border-radius: 40px;
        text-align: center;
        color: var(--white);
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
        font-weight: var(--w-bold);
        text-transform: uppercase;
        &:hover {
            transform: scale(1.1);
            color: var(--bg-color);
            cursor: pointer;
            transition: var(--transition-2s);
        }
    }
}

